<!DOCTYPE html>
<html>
	<head>
		<title>ImageBin</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag "jquery.imagesloaded" %>
		<%= javascript_include_tag "jquery.masonry" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="flash_notice" style="display:none"></div>
		<section id="content">
			<%= yield %>
		</section>
	</body>
</html>
